extends layout

block variables
  - var title = 'Login'

block content
  div.container.login-container.h-100
    div.row.align-items-center.h-100
      div.col-md-6.mx-auto
        form(action= login method="POST" class="login-form")
          h3= title
          hr
          div.form-group
            label(for="name") Name:
            input(
              class="form-control"
              type="text"
              id="name"
              name="name"
              placeholder="Enter your Login Name"
              required
            )
          div.form-group
            label(for="password") Password:
            input(
              class="form-control"
              type="password"
              id="password"
              name="password"
              placeholder="Enter your Password"
              required
            )
          button(
            type="submit"
            value="Login"
            class="btn btn-primary"
          ) Login